/hr-app/src/main/resources/rebel.xml
.classpath
.project
.DS_Store
.gradle/
build/
bin/
.directory
.settings/
.DS_Store
!/gradle/wrapper/gradle-wrapper.jar
*.*~
target/
hr-web/npm-debug.log
rebel*
*.iml
*.ipr
*.iws
.idea/
/.nb-gradle/
out/
.nb-gradle-properties
logs/
config/
303x404/
classes/